.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

/* Header
=================================*/

header {
    padding: 30px 0 100px;
    background-color: #f6f2f2;
}

.navigation {
    background-color: #313030;
}

.page-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 425px;
    height: 90px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 18.6px;
    font-family: "Myriad Pro", sans-serif;
}

.page-up a {
    color: #e0e0e0;
    padding: 36px 9px;
}

.page-up a:hover {
    background: #ff3f40;
}

h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-family: "Myriad Pro", sans-serif;
}

.name {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
}

.text-contact {
    font-size: 21px;
    font-family: "Myriad Pro", sans-serif;
    color: #868383;
}

.button {
    background: #ff2d2d;
    max-width: 230px;
    border-radius: 5px;
    padding: 11px 50px;
    font-size: 24px;
    font-family: "Myriad Pro", sans-serif;
    color: #ffffff;
}

.player {
    height: 360px;
    width: 550px;
    background: url(../img/video-Icon.png) no-repeat center center;
    background-color: #c4c0b1;
    box-shadow: -3px -3px 100px #868383;
}

/* Main
====================== */

main {
    background-color: #ffffff;
    height: 2670px;
}

.provide {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 110px 0;
}

.left-provide {
    max-width: 560px;
}

.left-provide h2{
    padding-bottom: 50px;
}

h2 {
    text-transform: uppercase;
    font-size: 56px;
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
}

.left-provide p {
    font-size: 21px;
    font-family: "OpenSans", sans-serif;
    font-weight: 300;
    padding-bottom: 60px;
}

.learn-more {
    border: 3px solid #ff0000;
    border-radius: 5px;
    padding: 11px 50px;
    font-size: 24px;
    font-family: "Myriad Pro", sans-serif;
    color: #ff0000;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
}

section {
    max-width: 310px;
    padding: 0 0 0 40px;
}

section p{
    font-size: 21px;
    font-family: "OpenSans", sans-serif;
    font-weight: 300;
    padding: 0 0 50px;
}

.img {
    width: 45px;
    height: 45px;
}

section h3 {
    font-size: 32px;
    padding: 30px 0 20px;
}

.setting {
    background: url(../img/settings.png) no-repeat center center;
}

.pen {
    background: url(../img/pencil.png) no-repeat center center;
}

.brand {
    background: url(../img/diamond.png) no-repeat center center;
}

.car {
    background: url(../img/truck.png) no-repeat center center;
}

hr {
    border: none;
    background-color: #ececec;
    height: 2px;
}

.feature-title h2 {
    text-align: center;
    padding: 100px 0 40px;
}

.feature-title p {
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    font-family: "OpenSans", sans-serif;
}

.feature-title hr {
    height: 2px;
    max-width: 130px;
    margin: 30px auto 90px;
    border: none;
    background-color: #ff3b3b;
}

.photo-nav {
    display: flex;
    justify-content: space-around;
    max-width: 890px;
    margin: 0 auto;
}

.photo-nav a{
    font-size: 29px;
    color: #000000;
    padding-bottom: 65px;
}

.photo-nav a:hover{
    color: #ff2d2d;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 140px;
}

.photo-collection {
    box-sizing: border-box;
    margin: 11px;
    width: 290px;
    height: 290px;
}

.photo-collection:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.5);
}

.text-team p {
    max-width: 450px;
    padding: 40px 0;
    font-size: 21px;
    font-family: "OpenSans", sans-serif;
}

.text-team hr {
    height: 2px;
    max-width: 130px;
    border: none;
    background-color: #ff3b3b;
}

.mark-waugh {
    display: flex;
    padding: 65px 0 110px;
}

.picture-mark {
    max-width: 320px;
    margin: 0 70px 0 0;
}

.ozer-waugh h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "OpenSans", sans-serif; 
}

.ozer-waugh p {
    max-width: 900px;
    padding: 35px 0 45px;
    font-size: 21px;
    font-family: "OpenSans", sans-serif; 
}

.messengers {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    padding-bottom: 65px;
}

.messengers a {
    font-size: 24px;
    font-family: "OpenSans", sans-serif; 
    font-style: italic;
    color: #4e4e4e;
}

.other {
display: flex;
}

.other-people {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
    width: 197px;
    height: 213px;
}

.lover-case {
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #7a786e; 
    opacity: 0;
}

span {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
}

.other-people:hover .lover-case {
    opacity: 1;
}

.design-tips {
    height: 510px;
    background: url(../img/evgeni-tcherkasski-VL0gfZlSYT0-unsplash.jpg) no-repeat center center;
}

.design-tips h3 {
    padding-top: 145px;
    text-align: center;
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
}

.design-tips p {
    padding: 40px 0 55px;
    text-align: center;
    font-size: 21px;
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
}

.form {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
}

.email {
    height: 80px;
    width: 520px;
    padding-left: 20px;
    font-size: 21px;
}

.subscribe {
    height: 80px;
    width: 210px;
    background-color: #ff3b3b;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
    border-radius: 5px;
}

.title-get h2 {
    padding: 110px 0 52px;
}

.title-get p {
    max-width: 722px;
    font-size: 21px;
    font-family: "OpenSans", sans-serif;
    padding-bottom: 50px;
}

.title-get hr {
    height: 2px;
    max-width: 130px;
    border: none;
    background-color: #ff3b3b;
    margin-bottom: 75px;
}

